<!DOCTYPE html>
<html ng-app="memeAlbumApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>#25 - Meme Generator</title>
    <link href="css/ionic.app.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>
    <script src="cordova.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-controller="memeAlbumCtrl">

    <ion-pane>
        <ion-header-bar class="bar-balanced">
            <h1 class="title">Meme Album</h1>
        </ion-header-bar>
        <ion-content>

            <ion-toggle ng-model="layout" ng-true-value="'grid'" ng-false-value="'list'">
                Grid mode
            </ion-toggle>

                <div class="list list-inset grid" ng-show="layout == 'grid'">
                <div ng-repeat="meme in memes">
                    <img ng-src="{{meme.img}}">
                </div>
            </div>


            <div class="list list-inset list" ng-show="layout == 'list'">
                <a class="item item-avatar" href="#" ng-repeat="meme in memes">
                    <img ng-src="{{meme.img}}">
                    <h2>{{meme.name}}</h2>
                    <p>{{meme.text}}</p>
                </a>
            </div>


        </ion-content>
    </ion-pane>

</body>
</html>
